<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    <title>Category</title>
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <style>

        @media screen and (max-width: 768px) {
            /*small screen*/
            div.full-details {
                display: none;
            }


        }

        @media screen and (min-width: 768px) and (max-width: 1024px) {
            /*medium screen*/
            div.full-details {
                display: none;
            }

        }

        @media screen and (min-width: 1024px) {
            /*large screen*/

        }
    </style>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="navbar navbar-expand-lg bg-dark navbar-dark">
            <a class="navbar-brand" th:href="@{/home}">
                <img th:src="@{/image/logo.png}" style="width:100px;height:50px">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggle"
                    aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <ul class="navbar-nav">
                    <li class="nav-item" sec:authorize="hasAuthority('Admin')">
                        <a class="nav-link" th:href="@{/users/1}">Users</a>
                    </li>
                    <th:block sec:authorize="hasAnyAuthority('Admin','Editor')">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/categories/1}">Categories</a>
                        </li>
                    </th:block>

                    <th:block sec:authorize="hasAnyAuthority('Admin','Editor')">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/brands/1}">Brands</a>
                        </li>
                    </th:block>

                    <th:block sec:authorize="hasAnyAuthority('Admin','Editor','SalesPerson','Shipper')">

                        <li class="nav-item">
                            <div class="dropdown">
                                <a class="nav-link btn btn-outline- dropdown-toggle"data-bs-toggle="dropdown" th:href="@{/products/1}">Products</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" th:href="@{/products/new}" sec:authorize="hasAnyAuthority('Admin','Editor')">
                                        Create New
                                    </a>
                                    </li>
                                    <li><a class="dropdown-item" th:href="@{/products/1}">
                                        View All
                                    </a>
                                    </li>
                                    <li> <a class="dropdown-item" th:href="@{/review}" sec:authorize="hasAuthority('Admin')">
                                        Reviews
                                    </a>
                                    </li>
                                </ul>
                            </div>

                        </li>
                    </th:block>


                    <th:block sec:authorize="hasAnyAuthority('Admin','Assistant')">

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/questions}">Questions</a>
                        </li>
                    </th:block>
                    <th:block sec:authorize="hasAnyAuthority('Admin','SalesPerson')">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/customers}">Customers</a>
                        </li>
                    </th:block>

                    <th:block sec:authorize="hasAnyAuthority('Admin','SalesPerson')">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/shipping}">Shipping</a>
                        </li>
                    </th:block>

                    <th:block sec:authorize="hasAnyAuthority('Admin','Editor','Shipper')">

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/orders/1}">Orders</a>
                        </li>
                    </th:block>

                    <th:block sec:authorize="hasAnyAuthority('Admin','SalesPerson')">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/report}">Sales Report</a>
                        </li>
                    </th:block>

                    <th:block sec:authorize="hasAnyAuthority('Admin','Editor')">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/article}">Articles</a>
                        </li>
                    </th:block>

                    <th:block>
                        <li class="nav-item" sec:authorize="hasAuthority('Admin')">
                            <a class="nav-link" th:href="@{/settings}">Settings</a>
                        </li>
                    </th:block>


                    <li class="nav-item">
                        <img th:src="@{/image/thumbnail.jpeg}" alt="" width="30" height="30" class="d-inline-block align-text-top">
                    </li>
                    <li class="nav-item  mx-2">

                        <div class="dropdown">
                            <a class="nav-link text-warning btn btn-outline- dropdown-toggle"data-bs-toggle="dropdown" aria-expanded="false" sec:authentication="principal.username"></a>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" th:href="@{/logout}">Logout</a></li>
                            </ul>
                        </div>
                    </li>


                </ul>
            </div>

        </div>
        <div class="container mt-3">
            <div class="row">
                <div class="col-12">
                    <h2>Manage Categories</h2>
                    <div class="mt-2">
                        <a th:href="@{/categories/new}" class=" cg1 fa-2x mr-2"><i class="fa-regular fa-user"></i></a>
                        <a th:href="@{/categories/export/csv}" class=" cg2 fa-2x mr-2"><i
                                class="fa-solid fa-file-csv"></i></a>
                        <a th:href="@{/categoriesexport/excel}" class=" cg3 fa-2x mr-2"><i
                                class="fa-solid fa-file-excel"></i></a>
                        <a th:href="@{/categories/export/pdf}" class="cg4 fa-2x mr-2"><i
                                class="fa-regular fa-file-pdf"></i></a>
                    </div>

                </div>
            </div>
            <div th:if="${session.message}!=null" class="alert alert-success text-center">This user has been
                successfully saved!
            </div>


            <div class="row mt-3">
                <div class="col-12">

                    <table class="table table-responsive-md  table-hover">
                        <thead class="table-dark">
                        <tr>
                            <th>
                                Category ID
                            </th>
                            <th>
                                Image
                            </th>
                            <th>
                                Alias
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Enabled
                            </th>

                            <th>
                                Edit
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="list:${clist}">
                            <td th:text="${list.id}">
                            </td>
                            <td>
                                <img th:if="${list.image==null}" th:src="@{${list.getPhotosImagePaths()}}"/>
                                <img th:if="${list.image!=null}" th:src="@{${list.getPhotosImagePaths()}}" style="width: 150px;"/>
                            </td>
                            <td th:text="${list.name}">
                            </td>
                            <td th:text="${list.nickname}">
                            </td>

                            <td>
                                <a th:if="${list.enabled==1}"
                                   th:href="@{'/category/update/enabled/'+${list.getId()}+'/'+${list.getEnabled()}}"
                                   style="text-decoration: none; color:deeppink">
                                    <i class="fa-solid fa-circle-check"></i>

                                </a>
                                <a th:if="${list.enabled==0}"
                                   th:href="@{'/category/update/enabled/'+ ${list.getId()}+'/'+${list.getEnabled()}}"
                                   style="text-decoration: none; color:grey">
                                    <i class="fa-solid fa-circle-check"></i>
                                </a>

                            </td>
                            <td>
                                <a style="text-decoration: none;" class="btn btn-primary btn-sm py-1"
                                   th:href="@{'/category/edit/'+${list.getId()}}">
                                    Edit
                                </a>
                                <a style="text-decoration: none;" class="btn btn-danger btn-sm py-1 "
                                   th:href="@{'category/delete/'+${list.getId()}}"
                                   th:data-confirm-delete="|Are you sure you want to delete this category ${list.getId()}?|"
                                   onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false">
                                    Delete

                                </a>


                            </td>


                        </tr>
                        </tbody>
                    </table>
                    <nav>
                        <ul class="pagination justify-content-center">
                            <li class="page-item"><a class="page-link" th:href="@{/categories/1}">First</a></li>
                            <li class="page-item"><a class="page-link" th:href="@{'/categories/'+${currentPage -1}}">Previous</a>
                            </li>
                            <th:block th:each="num:${totalpage}">

                                <li class="page-item"><a class="page-link" th:href="@{'/categories/'+${num}}"
                                                         th:text="${num}">1</a></li>
                            </th:block>
                            <li class="page-item"><a class="page-link" th:href="@{'/categories/'+${currentPage +1}}">Next</a>
                            </li>
                        </ul>
                    </nav>

                </div>
            </div>


        </div>

    </div>
</div>


</body>
</html>