<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="content">
    <div id="productList">

        <th:block th:each="detail,status:${CustomerProductList}">
            <div class="border rounded p-1" th:id="'list'+${status.count}">
                <input type="hidden" th:value="${detail.SortedProductId.get(status.index)}" name="productId" class="hiddenProductId"/>
                <input type="hidden" th:value="${detail.OrderId}" name="id"/>
                <input type="hidden" th:value="${customerId}" name="customerId"/>
                <div class="row" mt-2>
                    <div class="col-1 divCount">
                        [[${status.count}]]
                    </div>
                    <div><a class="link-Remove" href="" th:rowNumber="${status.count}"><i class="fa-solid fa-trash-can" style="color: blue"></i></a></div>
                    <div class="col-3">
                        <img th:src="@{${detail.getSortedMainImage().get(status.index)}}" class="img-fluid"/>
                    </div>
                </div>

                <div class="row m-2">
                    <b>[[${detail.getSortedProductName().get(status.index)}]]</b>
                </div>

                <div class="row mt-2">
                    <div class="col mt-2">
                        <table>
                            <tr>
                                <td>Product Cost:</td>
                                <td>
                                    <input type="text"
                                           name="productCost"
                                           required
                                           class="form-control cost-input"
                                           th:rowNumber="${status.count}"
                                           th:value="${detail.SortedProductCost.get(status.index)}"
                                           style="max-width: 140px;"/>
                                </td>

                            </tr>

                            <tr>
                                <td>Quantity:</td>
                                <td>
                                    <input type="number" step="1" min="1" max="5" required
                                           class="form-control quantity-input"
                                           th:rowNumber="${status.count}"
                                           th:id="'quantity'+${status.count}"
                                           th:value="${detail.SortedQuantity.get(status.index)}"
                                           name="quantity"
                                           style="max-width: 140px;"/>
                                </td>

                            </tr>

                            <tr>
                                <td>Unit Price:</td>
                                <td>
                                    <input type="text"  required
                                           class="form-control price-input"
                                           th:id="'price'+${status.count}"
                                           th:rowNumber="${status.count}"
                                           th:value="${detail.SortedUnitprice.get(status.index)}"
                                           name="productPrice"
                                           style="max-width: 140px;"/>
                                </td>

                            </tr>

                            <tr>
                                <td>SubTotal:</td>
                                <td>
                                    <input type="text"
                                           readonly
                                           class="form-control subtotal-input"
                                           th:id="'subtotal'+${status.count}"
                                           th:value="${detail.SortedSubtotal.get(status.index)}"
                                           name="productSubtotal"
                                           style="max-width: 140px;"/>
                                </td>

                            </tr>

                            <tr>
                                <td>Shipping Cost:</td>
                                <td>
                                    <input type="text"
                                           required
                                           class="form-control ship-input"
                                         th:value="${detail.SortedShippingCost.get(status.index)}"
                                           name="productShipCost"
                                           style="max-width: 140px;"/>
                                </td>

                            </tr>



                        </table>
                    </div>

                </div>
            </div>
        </th:block>


    </div>

<div class="m-3">
    <a th:href="@{/orders/search_product}" id="linkAddProduct" class="btn btn-success">Add a Product</a>
</div>


</div>

</body>
</html>