<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>order_StatusFragment</title>
</head>
<body>
 <div  th:fragment="content(statusVar,statusName,iconName)">
         <th:block th:if="${statusVar}">
             <a>
                 <i th:class="${iconName} + ' fa-2x'" style="color:orange;"></i>
             </a>
         </th:block>
         <th:block th:unless="${statusVar}">
             <div>
                 <a th:class="linkUpdateStatus"
                    style="text-decoration: none"
                    th:href="@{'/orders_shipper/update/'+${order.id}+'/'+${statusName}}"
                    th:orderId="${order.id}"
                    th:status="${statusName}"
                    th:id="'link'+${statusName}+${order.id}"
                 >
                     <i th:class=" ${iconName} + ' fa-2x'" style="color:darkblue"></i>
                 </a>
             </div>

         </th:block>
     </div>
</body>
</html>