<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Include jQuery library -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>


</head>
<body>
<div class="container">
    <div class="row">
        <div class="navbar navbar-expand-lg bg-dark navbar-dark">
            <a class="navbar-brand" th:href="@{/home}">
                <img th:src="@{/image/logo.png}" style="width:100px;height:50px">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
                <ul class="navbar-nav">

                    <li class="nav-item">
                        <b><a class="nav-link" th:href="@{/customer}">
                            <span th:text="${#authentication.isAuthenticated() ? #authentication.name : 'Guest'}"></span>
                        </a></b>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/users/1}">Careers</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/categories/1}">Payments</a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/brands/1}">Shipping &amp; Delivery</a>
                    </li>



                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/customerLogin}">Login</a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/register}">Register</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/customers}">Contact</a>
                    </li>



                </ul>


            </div>

        </div>


    </div>

    <div class="row">
        <div class="col-md">
            <th:block sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" method="post" th:hidden="true" name="LogoutForm">
                    <input type="submit" value="Logout">
                </form>
            </th:block>

            <nav class="navbar navbar-expand-sm bg-light">
                <div class="collapse navbar-collapse d-flex align-items-center" id="searchNavBar">
                    <form th:action="@{/search}" method="get" class="d-flex">
                        <input type="search" name="keyword" class="form-control ms-auto"
                               th:value="${keyword}" placeholder="keyword" required>
                        <input type="submit" value="Search" class="btn btn-outline-success"/>
                    </form>
                    <ul class="navbar-nav">
                        <!--the following section is only accessible if the user is authenticated-->
                        <th:block sec:authorize="isAuthenticated()">
                            <th:block th:with="userPrincipal=${#httpServletRequest.userPrincipal}">
                                <th:block th:if="${userPrincipal != null and userPrincipal.name != null}">
                                    <li class="nav-item">
                                        <b><a class="nav-link" th:href="@{/account_details}" th:text="${userPrincipal.name}"></a></b>
                                    </li>
                                </th:block>
                            </th:block>





                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/addressBook}">Addresses</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="">Questions</a>
                            </li>


                            <li class="nav-item">
                                <a class="nav-link" href="">Reviews</a>
                            </li>



                            <li class="nav-item">
                                <a class="nav-link" href="">Orders</a>
                            </li>


                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/cart}" style="font-weight: bold">
                                    <div>
                                        <i class="fa-solid fa-2x fa-cart-shopping"></i>
                                        <span
                                                class="badge bg-danger"
                                                style="width: 30px;
                                                height: 30px;
                                                padding: 15.2px 7.8px;
                                                font-size: 27px;
                                                border-radius: 26px;
                                                transform: perspective(0px) translate(-12px) rotate(0deg) scale(0.50);
                                                transform-origin: top;
                                                padding-right: 0;
                                                padding-top: 0.2px;
                                                padding-left: 0.2px;
                                                text-align: center;border-width: 48px;
                                          " th:text="${cartItemlist.size()}"></span>
                                    </div>

                                </a>

                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="javascript:document.LogoutForm.submit()">Logout</a>
                            </li>

                        </th:block>


                    </ul>
                </div>
            </nav>
        </div>
    </div>



    <div class="row m-2">
        <div class="card">
            <div class="card-body hiddenContent">
                <div class="col-sm-8 ">
                    <th:block th:each="cartItem,status:${cartItemlist}" th:with="cartDetail=${cartItem.getList().get(status.index)}">
                        <div class="row border rounded p-1" th:id="'row'+${status.count}">
                            <div class="col-1">
                                <div class="div-Count">[[${status.count}]]</div>
                                <div>
                                    <a class="link-remove" th:href="@{'/cart/remove/'+${cartItem.product}}" th:rowNumber="${status.count}"><i class="fa-solid fa-trash-can" style="color: #999999"></i></a>
                                </div>
                            </div>
                            <div class="col-3">
                                <img th:src="@{${cartDetail.getImageMainPath()}}" class="img-fluid"/>
                            </div>
                            <div class="col-6">
                                <div>
                                    <a th:href="@{'/p/'+${cartDetail.productAlias+'/1'}}"><b>[[${cartDetail.productAlias}]]</b></a>
                                </div>
                                <div   th:replace="~{Quantity_Control::quantity_control(${cartDetail.quantity}, ${cartDetail.productId})}"></div>

                                <div>
                                    <span>X&nbsp;</span>
                                    <!--Product without discount price-->
                                    <span th:if="${cartDetail.discountPercent<=0}">
                                         <span th:if="${CURRENCY_SYMBOL_POSITION} == 'Before_Price'">[[${CURRENCY_SYMBOL}]]</span>

                                          [[${cartDetail.price}]]
                                            <span th:if="${CURRENCY_SYMBOL_POSITION} == 'After_Price'">[[${CURRENCY_SYMBOL}]]</span>

                                    </span>
                                    <!--Product with discount price-->
                                    <div th:if="${cartDetail.discountPercent>0}" >
                                        <span style="font-size: larger ;color: darkred;">
                                            <span th:if="${CURRENCY_SYMBOL_POSITION} == 'Before_Price'" >[[${CURRENCY_SYMBOL}]]</span>
                                             [[${cartDetail.getDetailPrice()}]]
                                            <span th:if="${CURRENCY_SYMBOL_POSITION} == 'After_Price'">[[${CURRENCY_SYMBOL}]]</span>
                                        </span>
                                        <del th:if="${cartDetail.discountPercent>0}" >
                                           <span>
                                              <span th:if="${CURRENCY_SYMBOL_POSITION} == 'Before_Price'">[[${CURRENCY_SYMBOL}]]</span>
                                                 [[${cartDetail.price}]]
                                             <span th:if="${CURRENCY_SYMBOL_POSITION} == 'After_Price'">[[${CURRENCY_SYMBOL}]]</span>
                                           </span>

                                        </del>
                                   </div>


                                </div>
                                <!--Product Subtotal-->
                                <div>
                                    <span>=&nbsp;</span>
                                    <span th:if="${CURRENCY_SYMBOL_POSITION} == 'Before_Price'" >[[${CURRENCY_SYMBOL}]]</span>
                                         <span th:id="'subtotal'+${cartItem.product}" class="h4 subTotal">[[${cartDetail.getSubTotal()}]]</span>
                                    <span th:if="${CURRENCY_SYMBOL_POSITION} == 'After_Price'">[[${CURRENCY_SYMBOL}]]</span>
                                </div>
                            </div>
                        </div>
                    </th:block>
                        </div>
                        <div class="row m-1">&nbsp;</div>
                </div>
                <div class="col-sm-4" th:unless="${#lists.isEmpty(cartItemlist)}" id="sectionTotal">
                    <div>
                        <span class="h3">Estimated Total:</span>
                    </div>
                   <!--EstimatedTotal-->
                    <div>
                        <span class="h2" id="total">[[${EstimatedTotal}]]</span>
                    </div>
                    <!--Checkout Button-->
                    <!--support Shipping-->
                    <div th:if="${ShippingSupported}==true">
                        <a th:href="@{/checkout}" class="btn btn-danger p-3 mt-2">Checkout</a>
                    </div>
                    <!--Not support Shipping-->
                    <div th:if="${ShippingSupported}==false">
                        <div><span class=" h5 text-warning">No Shipping Available for Your Location</span></div>
                        <div th:if="${usePrimaryAddressAsDefault}">
                            <a class="h6" th:href="@{/account_details(redirect=cart)}">Update your Address</a>
                        </div>
                        <div th:unless="${usePrimaryAddressAsDefault}">
                            <a class="h6" th:href="@{/addressBook(redirect=cart)}">Use another shipping Address</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>


           <div id='noShoppingContent' th:class="'text-center ' + (${#lists.isEmpty(cartItemlist)} ? '' : 'd-none')">
               <h3>Oops! You have not chosen any products Yet</h3>
               <div>
                   <img style="width: 150px;" th:src="@{/image/empty_cart.png}"/>
               </div>
               <div class="mt-2">
                   <a  class="h4 " th:href="@{/index}">DO You Want To Explore More of Our Products?</a>
               </div>

           </div>




    </div>


<div class="container mt-3">
    <div class="row">
        <div class="navbar navbar-expand-lg bg-dark navbar-dark">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarFooter">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="mt-2 collapse navbar-collapse" id="navbarFooter">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/users/1}">About Us</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/categories/1}">Privacy Notice</a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/brands/1}">Returns &amp; Refunds</a>
                    </li>



                </ul>


            </div>
        </div>
    </div>
</div>


<div class="container text-center">

    <p class="mt-5 ">Copyright &copy SharpLine. All Rights Reserved</p>&nbsp;

</div>

<script type="text/javascript" th:src="@{/Js/Shopping_Cart.js}"></script>


</body>

</html>